.Content{
    /* border: 3px solid black; */
    /* padding: 8px; */
    /* margin: 8px; */

    /* background-color: rgba(255, 0, 0, 0.4); */
    
    display: flex;
    flex-direction: column;
}

#contentImg{
}

#contentTitle{
    font-size: 24px;
    text-align: left;
}

#contentImgSelf{
    margin-top: 20px;
    width: 85vw;
    height: auto;

    border-radius: 3px;
    box-shadow: 2px 2px 5px gray;
}

#contentInfor{
    font-size: 18px;
    text-align: left;

    background-color: white;
    margin-top: 24px;
    margin-left: 24px;
    margin-bottom: 14px;

    border-bottom: 1px solid gainsboro;
}