.FilterEtc{
/* margin-top: 4px; */
    /* margin-left: 24px; */

    /* width: 450px; */
    /* height: 500px; */
    width: 100vw;
    height: 100vh;

    background-color: white;

    border-radius: 5px;
    border: 1px solid gainsboro;
    box-shadow: 0px 2px 6px gainsboro;

    /* 높을수록 앞에 있음 */
}
.FilterEtc .top{
    border-bottom: 1px solid gainsboro;
}
.FilterEtc .top #closeButton{
    width: 50px;
    height: 50px;

    position: fixed;
    left: 12px;

    border-radius: 50px;
    
    background-color: rgba(255, 255, 255, 1);
}

.FilterEtc .top #title{
    margin: 0 auto 0 auto;

    font-size: 18px;
}

.FilterEtc .middle {
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
}

.FilterEtc .bottom {
    position: fixed;
    bottom: 0px;

    width: 100vw;
    height: 50px;
    background-color: rgba(255, 255, 255, 1);

    border-top: 1px solid gainsboro;

    z-index: 4;
}

.FilterEtc .bottom #button {
    position: fixed;
    bottom: 15px;
    width: 90vw;
    height: 45px;

    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);

    border-radius: 5px;
    background-color: rgb(0, 132, 137);

    border-radius: 50px;
}