.top {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: fixed;
    top: 0px;

    width: 100vw;
    height: 65px;

    /* padding: 10px; */

    /* border: 1px solid black; */
    /* border-bottom: 1px solid gainsboro; */

    /* background-color: rgb(102, 255, 0); */
    /* background-color: rgb(200, 200, 200); */
    background-color: rgb(255, 255, 255);

    z-index: 3;
}

#logo{
    /* margin-left: 0px;
    margin-right: 5px;
    padding-top: 9px;
    padding-bottom: 9px; */
    height: 28px;
    width: 38px;

    position: fixed;
    top: 18px;
    left: 8px;

    border-radius: 1px;
}

.top #searchBar{
    height: 34px;
    width: 65vw;
    padding: 6px;
    padding-left: 18px;

    position: fixed;
    top: 10px;
    left: 50px;

    font-size: 16px;
    font-weight: bold;

    border-radius: 50px;
    border: 1px solid gainsboro;
    box-shadow: 0px 0px 0px gainsboro;

    background: rgb(242,242,242);
}

.top #searchButton{
    height: 48px;
    width: 76px;

    /* margin-right: 8px; */

    position: fixed;
    top: 10px;
    right: 4px;
    
    font-size: 14px;
    /* text-decoration: none; */
    color: rgb(255, 255, 255);

    background-color: rgb(254, 90, 96); /*OS : windows*/

    border-radius: 50px;
    border: 1px solid gainsboro;
    box-shadow: 0px 1px 2px gainsboro;

    z-index: 0;
}

.middle {
    /* animation: slideDown 1 0.05s linear; */
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;

    position: fixed;
    top: -4px;
    margin-top:68px;

    /* border: 1px solid black; */
    padding: 10px;
    /* padding-top: 60px; */
    padding-left: 20px;
    padding-right: 12px;

    width: 100vw;
    height: 35px;

    border-bottom: 1px solid gainsboro;
    /* background-color: rgb(0, 217, 255); */
    /* background-color: rgb(0, 132, 137); */
    background-color: rgba(255, 255, 255, 0.92);

    z-index: 2;
}

@keyframes slideDown {
    from {
        height: 0px
    }
    to {
        height: 40px
    }
}

.middle #filter{
    height: 46px;
    width: 60px;

    margin-right: 8px;
    
    font-size: 14px;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 132, 137);

    border-radius: 50px;
    border: 1px solid gainsboro;
    z-index: 3;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* height: 100vmin; */
    padding-top: 22px;
    /* padding: 8px;
    padding-left: 12px;
    padding-right: 12px; */

    /* background-color: rgb(255, 230, 0); */
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

#defaultStyle {
    font-size: 24px;
}