.MapAndList {
    /* text-align: center; */
    /* border: 1px solid black; */
    /* padding: 8px; */
    /* margin: 8px; */
    /* padding-left: 12px; */
    /* padding-right: 12px; */

    /* border-radius: 5px; */

    /* background: white; */
    /* display:flex; */
    /* flex-direction: row; */
    width: 100vw;
}

.MapAndList .bottom .bottom_front{
    /* position: fixed; */
    /* top: 120px; */
    /* left: -10px; */

    /* width: 100vw; */
    /* height: 100vh; */

    /* background-color: rgba( 255, 255, 255, 0.7 ); */

    /* z-index: 0; */
}
.MapAndList .bottom .bottom_back{
    position: relative;
}

.MapAndList #alarmMsg{
    margin-left: 24px;
    margin-right: 24px;
    
    font-size: 12px;
    text-align: left;
    /* font-weight: bold; */
    padding-bottom: 12px;
    padding-top: 120px;

    border-bottom: 1px solid gainsboro;
}

.MapAndList #alramMsg_2{
    margin-left: 24px;
    margin-right: 24px;
    
    padding-top: 30px;

    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

.MapAndList #contentList{
    width: 100vw;
}