.PageLogin{
    /* margin-top: 4px; */
    /* margin-left: 24px; */

    /* width: 450px; */
    /* height: 500px; */
    width: 100vw;
    height: 100vh;

    background-color: white;

    border-radius: 5px;
    border: 1px solid gainsboro;
    box-shadow: 0px 2px 6px gainsboro;

    /* 높을수록 앞에 있음 */
}
.PageLogin .top{
    border-bottom: 1px solid gainsboro;
}
.PageLogin .top #closeButton{
    width: 50px;
    height: 50px;

    position: fixed;
    left: 12px;
    top: 8px;

    border-radius: 50px;

    background-color: rgba(255, 255, 255, 1);
}

.PageLogin .top #title{
    margin: 0 auto 0 auto;

    font-size: 18px;
}

.PageLogin .PageLogin_middle {
    margin-top: 80px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.PageLogin .PageLogin_middle #facebookLoginButton {
    width: 90vw;
    height: 50px;

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;

    font-size: 18px;
    border-radius: 50px;
    border: 1px solid gainsboro;
}
.PageLogin .PageLogin_middle #googleLoginButton {
    width: 90vw;
    height: 50px;

    margin-left: 10px;
    margin-right: 10px;

    font-size: 18px;
    border-radius: 50px;
    border: 1px solid gainsboro;
}

.PageLogin .bottom {
    position: fixed;
    bottom: 0px;

    width: 100vw;
    height: 50px;
    background-color: rgba(255, 255, 255, 1);

    border-top: 1px solid gainsboro;

    z-index: 4;
}

.PageLogin .bottom #button {
    /* position: fixed; */
    /* bottom: 15px; */
    
    width: 90vw;
    height: 45px;

    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);

    border-radius: 5px;
    background-color: rgb(0, 132, 137);

    border-radius: 50px;
}