.PageProfile .top{
    width: 100vmin;

    font-size: 24px;
}

.PageProfile .top #pageName {
    position: fixed;
    top: 25px;
    left: 50px;

    font-size: 14px;
}

.PageProfile .bottom {
    margin-top: 150px;
}
.PageProfile .bottom #id_1 {
    font-size: 24px;
}
.PageProfile .bottom #id_2 {
    font-size: 24px;
}
.PageProfile .bottom #id_3 {
    font-size: 24px;
}
.PageProfile .bottom #id_4 {
    font-size: 24px;
}