.Start {
    /* text-align: center; */
    /* border: 1px solid black; */
    /* padding: 8px; */
    /* margin: 8px; */
    /* padding-left: 12px; */
    /* padding-right: 12px; */

    /* border-radius: 5px; */

    /* background: white; */
    /* display:flex; */
    /* flex-direction: row; */
    width: 100vw;
}

.Start .bottom {
    margin-top: 200px;
}