.Start {
    /* text-align: center; */
    /* border: 1px solid black; */
    /* padding: 8px; */
    /* margin: 8px; */
    /* padding-left: 12px; */
    /* padding-right: 12px; */

    /* border-radius: 5px; */

    /* background: white; */
    /* display:flex; */
    /* flex-direction: row; */
    width: 100vw;
}

.Start .top {

    display: flex;
    flex-direction: row;
    align-items: center;

    position: fixed;
    top: 0px;

    width: 100vw;

    padding: 10px;

    /* border: 1px solid black; */
    /* border-bottom: 1px solid gainsboro; */
    /* margin: 8px; */
    padding-left: 12px;
    padding-right: 12px;

    background-color: white;

    z-index: 2;
}

.Start .top #logo{
    margin-left: 12px;
    margin-right: 20px;

    height: 40px;
    width: 50px;

    border-radius: 1px;
}

.Start .top #searchBar{
    height: 58px;
    width: 60vmin;
    padding-left: 10px;
    margin-right: 10px;

    font-size: 24px;
    font-weight: bold;

    border-radius: 5px;
    border: 1px solid gainsboro;
    box-shadow: 0px 2px 2px gainsboro;
}

.Start .top #searchButton{
    height: 58px;
    width: 64px;

    margin-right: 8px;
    
    font-size: 24px;

    border: 1px solid gainsboro;
    border-radius: 3px;

    z-index: 2;
}

.Start .middle {
    display: flex;
    flex-direction: row;
    align-items: center;

    /* border: 1px solid black; */
    padding: 10px;
    padding-top: 80px;
    padding-left: 28px;
    padding-right: 12px;

    position: fixed;
    top: 12px;

    width: 100vw;

    border-bottom: 1px solid gainsboro;
    background-color: white;
    z-index: 1;
}

.Start .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* height: 100vh; */
    /* border: 1px solid black; */
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;

    /* background-color: rgba(0, 255, 255, 0.1); */

    z-index: 0;
}

.Start .bottom .bottom_front{
    
    position: fixed;
    top: 140px;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba( 255, 255, 255, 0.7 );

    z-index: 1;
}
.Start .bottom .bottom_back{
    position: relative;
}

.Start #alarmMsg{
    margin-left: 24px;
    margin-right: 24px;
    
    font-size: 22px;
    text-align: left;
    font-weight: bold;
    padding-bottom: 16px;
    padding-top: 120px;

    /* border-bottom: 1px solid gainsboro; */
}

.Start #contentList{
    width: 100vw;
}